*{
    margin:0;
    padding:0;
    user-select:none;
    font-size:12px;
    background-position:center;
    background-repeat:no-repeat;
    background-size:80% 80%;
}
body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:transparent;
}
#body{
    overflow-x:hidden;
    overflow-y:auto;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
}
#body::-webkit-scrollbar{
    width:8px;
    height:8px;
    background-color:transparent;
}
#body::-webkit-scrollbar-thumb {
    background-color: #34495e;
}

.loadmask{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-repeat:no-repeat;
    background-position:center center;
}
.loadmask.load-0{
    background-image:url(../Content/loading-0.gif);
}
.loadmask.load-1 {
    background-image: url(../Content/loading-1.gif);
}
.loadmask.load-2 {
    background-image: url(../Content/loading-2.gif);
}
.discuss {
    z-index: 99;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    /*outline: 1px solid lightgray;*/
    cursor: pointer;
    background-image:url(../Content/imgs/discuss.png);
    display:flex;
    justify-content:center;
    align-items:center;
}
.discuss:hover{
    box-shadow: rgba(255,255,255,.8) 0 0 10px;
}
.discussbox{
    position:fixed;
    top:0;
    bottom:0;
    left:100%;
    width:100%;
    z-index:100;
    transition:all 0.2s linear;
}
.discussbox.show{
    left:0%;
}
.discussbar{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:50px;
    background-color:rgba(0,0,0,0.1);
}
.discussmsg{
    position:absolute;
    top:0;
    bottom:40px;
    left:50px;
    right:0;
    overflow-x:hidden;
    overflow-y:auto;
    background-color:white;
}
.discussmsg::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}
.discussmsg::-webkit-scrollbar-thumb {
    background-color: #34495e;
}
.divstop{
    overflow:hidden!important;
}
.discussinput{
    position:absolute;
    left:50px;
    right:0;
    bottom:0;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgba(1,1,1,0.2);
}
.discussinputbox {
    outline: 1px solid lightgray;
    border: none;
    background-color: white;
    color: gray;
    height: calc(100% - 1px);
    flex: 1;
    font-size: 16px;
    text-indent: 16px;
}
.discussbtn {
    outline: 1px solid lightgray;
    border: none;
    background-color: white;
    height: calc(100% - 1px);
    flex-basis: 100px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1abc9c;
    color: white;
    cursor: pointer;
}
.discussbtn:active{
    opacity:0.8;
}
.loginbox {
    position: fixed;
    z-index: 999;
    /*width:300px;*/
    /*height:400px;*/
    top: calc(50% - 150px);
    bottom: calc(50% - 150px);
    left: calc(50% - 150px);
    right: calc(50% - 150px);
    background-color: #2c3e50;
    border: none;
    outline: 1px solid lightgray;
    box-shadow: rgba(255,255,255,.8) 0 0 10px;
    display: flex;
    flex-direction: column;
}
.loginbox input::placeholder{
    color:lightgray;
}
.loginbox>*{
    flex:1;
    margin:10px 5px;
    border:none;
    background-color:transparent;
    color:white;
}
.loginnm {
    text-indent: 12px;
    outline: 1px solid lightgray;
}
.loginpwd {
    text-indent: 12px;
    outline: 1px solid lightgray;
}
.loginbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1abc9c;
}
.loginregister {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3498db;
}
.loginclose{
    overflow:hidden;
}
.loginclosespan{
    float:right;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    width:40px;
    font-size:24px;
    font-weight:bold;
}
.cps{
    cursor:pointer;
}
.cps:hover{
    opacity:0.8;
}
.cps:active{
    opacity:0.6;
}


















