
@{
    Layout = null;
}
@using AfeiLib;

<!DOCTYPE html>

<html ng-app="app" ng-controller="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Scripts.Render("~/Scripts/js")
    @Styles.Render("~/Content/css")
    @Html.IncludeScriptAndStyle()
</head>
<body id="body">
    <div class="btnbox">
        <div class="btnnm">输入</div>
    </div>
    <div class="btnbox">
        <input type="text" class="btninput" ng-model="originvals" />
    </div>
    <div class="btnbox">
        <div class="btndesc">源进制</div>
        <select ng-model="origintype" class="btninput">
            <option ng-repeat="item in typearr" value="{{item}}">{{item}}</option>
        </select>
    </div>
    <div class="btnbox">
        <div class="flex1"></div>
        <div class="btnbtn" ng-click="tochange()">确定</div>
    </div>
    <div class="btnbox">
        <div class="btndesc flex1">双击复制到剪切板</div>
    </div>
</body>
</html>
